[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --color
    type = cat-file -t
    dump = cat-file -p
    unstage = reset HEAD
    pick = cherry-pick
[user]
    email = yixian.yang@oracle.com
[color]
	ui = auto
